02_BMI_above30_clean.tsv
02_COVID_test_clean.tsv
02_JH_conftime_clean.tsv
02_JH_deadtime_clean.tsv
02_JH_recotime_clean.tsv
02_POP_demo_clean.tsv
02_UN_gdp_clean.tsv
02_UN_pop_clean.tsv
02_adult_mortality_clean.tsv
02_air_pollution_clean.tsv
02_handwashing_facilities_clean.tsv
02_health_expenditure_clean.tsv
02_health_infrastructure_clean.tsv
02_household_pollution_clean.tsv
02_life_expectancy_clean.tsv
02_measles_cases_clean.tsv
02_medical_doctors_clean.tsv
02_mortality_pollution_related_clean.tsv
02_nurses_midwifes_clean.tsv
02_smoking_clean.tsv
